@using Microsoft.AspNetCore.Identity
@using UISWeb.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <li><a asp-area="" asp-controller="User" asp-action="Index">User</a></li>
        <li><a asp-area="" asp-controller="Client" asp-action="Index">Client</a></li>
    }
    <li><a asp-area="" asp-controller="CustomerRequest" asp-action="Index">Reports</a></li>
}
