*.suo
*.map
Debug
Release
node_modules
x
*.err
**\packages
**/~*.docx
bin
node_modules
*.err
*.accdb
*.pdf
*.cmd
.deployment
*.suo
*.user
*.map
Debug
Release
npm-debug.log
apps
obj
*.dat
uploaded
iisnode
.vscode
bower_components
