@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>UIS Organic Laboratory (Pty) Ltd was formed in 2007.  The Laboratory provided an excellent platform for an organic environmental lab to further expand the capabilities to include testing for air, water and soils.
In 2010, the laboratory was relocated to Route 21 Corporate Park in Irene.  Our state-of-the-art equipment and automation allows us to streamline sample flow through the lab to increase productivity, project efficiency and provide high quality data per your specific requirements. In addition the new premises provide an excellent working environment for our staff.</p>
