@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Unit 3 Carrera House<br />
    13 Sovereign Drive<br />
    Route 21 Corporate Park<br />
    Irene<br />
    Gauteng , South Africa , 0062<br />
    <abbr title="Phone">P:</abbr>
    012.345.1004
    <abbr title="Fax">P:</abbr>
    086.762.3461
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@uisol.co.za">info@uisol.co.za</a>
</address>
