@model UISWeb.Models.CustomerRequest

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CustomerRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LabNo" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coordinator" class="control-label"></label>
                <input asp-for="Coordinator" class="form-control" />
                <span asp-validation-for="Coordinator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Received" class="control-label"></label>
                <input asp-for="Received" class="form-control" />
                <span asp-validation-for="Received" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Required" class="control-label"></label>
                <input asp-for="Required" class="form-control" />
                <span asp-validation-for="Required" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Invoiced" /> @Html.DisplayNameFor(model => model.Invoiced)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
